<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mind Genomic Survey</title>
    
    {% include 'bootstrap.html' %}
    
  </head>
  <body>

    {% include 'nav.html' %}

    {% include 'banner.html' %}
    
    <div class="container-fuild text-center mt-2 mb-4">
        <h1>Please answer the questions</h1>
    </div>

    <form id="survey-form" action="/survey/submit" method="post">
    
      {% include 'profile.html' %}

      {% include 'survey_questions.html' %}

      <div class="d-grid gap-2 col-1 mx-auto" style="font-size:160%;">
        <input type="submit" value="submit" style="background-color:rgb(113, 35, 173);color:rgb(255, 255, 255);">
      </div>
    </form>

    {% include 'footer.html' %}


    <script>
    const startTime = new Date();

    document.getElementById('survey-form').addEventListener('submit', function(event) {
      const endTime = new Date();
      const elapsedTime = (endTime - startTime) / 1000; // Convert to seconds
      
      // Add a hidden input field to store the elapsed time
      const elapsedTimeInput = document.createElement('input');
      elapsedTimeInput.type = 'hidden';
      elapsedTimeInput.name = 'elapsed_time';
      elapsedTimeInput.value = elapsedTime;
      this.appendChild(elapsedTimeInput);
    });
  </script>
  </body>
  
</html>
