<div class="container" style="padding: 30px;">
  <h4 class="text-center mt-2 mb-4" style="font-family:Courier New;font-weight: bold;margin: 30px;">In each of the following questions you will see information about essential qualities and behaviors that contribute to a positive and successful group environment</h4>
  <h4 class="text-center mt-2 mb-4" style="font-family:Courier New;font-weight: bold;padding: 30px;">You will be asked to answer the following questions</h4>

      
        {% for q in survey_questions %}
            <div class="container  text-center mt-2 mb-4">
              {% if not q[0][-2].isdigit() %}
                <h4 style="font-family:Courier New;font-weight: bold;">{{'Question '+q[0][-1]}}</h4>
              {% endif %}
              {% if q[0][-2].isdigit() %}
                <h4 style="font-family:Courier New;font-weight: bold;">{{'Question '+q[0][-2]+q[0][-1]}}</h4>
              {% endif %}
              <div class="container">
                
                {% for i in range(N) %}
                   <p style="font-size:18px;">{{q[i+1]}}</p>
                {% endfor %}
              </div>
                   
              <br><h5 style="font-family:Courier New;font-weight: bold;">How would you rate this?</h5>
              
             
              
              <select id="{{q[0]}}" name="{{q[0]}}">
                  <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',1'}}">1 - Low</option>
                  <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',2'}}">2</option>
                  <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',3'}}">3</option>
                  <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',4'}}">4</option>
                  <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',5'}}" selected>5 - Medium</option>
                  <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',6'}}">6</option>
                  <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',7'}}">7</option>
                  <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',8'}}">8</option>
                  <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',9'}}">9 - High</option>
              </select>
            </div>   
           
         
          
        
            
      {% endfor %}
    
   
 
  

</div>